@use "sass:map";

// base colors
$lite:          #f0f0f0;
$lite-dark:     #808080;
$neutral:       #474747;
$dark-lite:     #242424;
$dark:          #161616;
$dark2:         #101010;
$accent:        #646cff;
$accent-dark:   #1a2731;
$warning:       #ff1744;
$warning-lite:  #a23a3a;
$warning-dark:  #391d23;

// transparents
$darken:        #00000040;
$darker:        #00000099;
$darkest:       #000000cc;

// accents
$accent-y-pastel:   #FFF394;
$accent-b-pastel:   #94A0FF;

// blues
$b-dark:     #1c1f31;
$b-dark2:    #242430;
$b-dark3:    #1a1a22;
$b-dark4:    #0b0b0e;
$b-dark5:    #131318;

// difficulty colors
$diffs: (
    "novice":   #a355b8,
    "easy":     #1ec51d,
    "medium":   #d6db41,
    "hard":     #ff5151,
    "expert":   #54b4ff,
    "edit":     #aaaaaa,
);

// lamp colors
$lamps: (
    "quint":    #e270a0,
    "quad":     #5eafd4,
    "fec":      #e6bb6a,
    "fc":       #8ce072,
    "clear":    #f0f4f7,
    "noplay":   #4b4b4b,
);

// judgment colors
$juds: (
    "fa":   #5eafd4,
    "wfa":  #f0f4f7,
    "ex":   #e6bb6a,
    "gr":   #8ce072,
    "de":   #a97bdd,
    "wo":   #ce8665,
    "mi":   #e66a6a,
);

@each $lamp in map.keys($lamps) {
    .lamp-#{$lamp} {
      background-color: map.get($lamps, $lamp);
    }
}

@each $jud in map.keys($juds) {
    .jud-#{$jud} {
      color: map.get($juds, $jud);
    }
}