@use 'util/reset';
@use 'util/color';

@use 'components/scoreupload';
@use 'components/navbar';
@use 'components/profilepage';
@use 'components/leaderboard';
@use 'components/warningmodal';
@use 'components/auth';
@use 'components/homepage';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	line-height: 1.5;
	font-weight: 400;
	
	color-scheme: light dark;
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@supports (font-variation-settings: normal) {
	:root { font-family: InterVariable, sans-serif; }
}

html {
	scroll-behavior: smooth;
	color: color.$lite;
	background-color: color.$b-dark4;
}

.main {
	display: grid;
}

a {
	transition: filter 0.20s;

	&:hover {
		filter: drop-shadow(0 0 0.3rem color.$accent-b-pastel);
		cursor: pointer;
	}
}

.link {
	color: color.$accent-b-pastel;
}