@use 'util/reset';
@use 'components/scoreupload';
@use 'components/navbar';
@use 'components/profilepage';
@use 'components/leaderboard';
@use 'util/color';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	
	color-scheme: light dark;
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

html {
	scroll-behavior: smooth;
	color: color.$lite;
	background-color: color.$dark;
}

.main {
	display: grid;
}