@use '../util/mixins' as mixin;
@use '../util/color' as color;

.navbar {
	@include mixin.flex($dir: row, $gap: 150px, $x-align: center, $align: center);
	font-size: 1.1em;
	font-weight: 600;
	margin: 0 auto;
	width: 100%;
	height: 60px;
	background-color: color.$b-dark;

	&-group {		
		@include mixin.flex($dir: row, $gap: 20px, $x-align: center);
	}

	&-usergroup {		
		@include mixin.flex($dir: row, $gap: 10px, $x-align: center);
	}
	&-usergroup > img {
		width: 30px;
		height: 30px;
		object-fit: cover;
		border-radius: 5px;
	}
}

#nb-left {
	width: 700px;
	justify-content: flex-start;
}
#nb-right {
	width: 300px;
	justify-content: flex-end;
}