@use '../util/mixins' as mixin;
@use '../util/color' as color;

.img {
	max-width: 400px;
}

.score-dropzone {
	@include mixin.flex($dir: column, $gap: 30px, $x-align: center, $align: center);
	margin: auto;

	&-inner {
		@include mixin.flex($dir: row, $gap: 30px, $x-align: center, $align: center);
		padding: 100px 100px;
		border: 2px solid;
		border-radius: 10px;
		border-color: color.$dark-lite;
	}
}

.submit-container {
	@include mixin.flex($dir: column, $gap: 100px, $x-align: center, $align: center);

	&-inner {
		@include mixin.flex($dir: column, $gap: 20px, $x-align: center, $align: center);
	}

	&-title {
		margin-top: 20px;
		font-size: 3.5em;
		font-weight: 800;
	}

	&-info {
		font-style: italic;
		font-size: 1em;
		font-weight: 400;
	}
}